
/* Fonts */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);

/* Login Baslangic*/

.login-container{
    height: 100vh;
    width: 100%;
    font: 16px var(--roboto);
    font-size: 16px;
    background: #eee;
    color:#666;
  }
  
  .login-form{
    margin: auto;
    width: 250px;
    padding: 10px;
    max-width: 100%;
  }
  
  .login-form .form-control{
      font-size: 15px;
      min-height: 48px;
      font-weight: 500;
    }
  
  .form-control:focus {
      border-color: #724dbe;
      box-shadow: 0 0 0 3px rgba(114, 61, 190, .25);
  }
  
  .btn-custom {
      background: #724dbe;
      border-color: #724dbe;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      min-height: 48px;
  }
  
  .btn-custom:focus,
  .btn-custom:hover,
  .btn-custom:active,
  .btn-custom:active:focus{
      background: #54229d;
      border-color: #54229d;
      color: #fff;
  }
  
  .btn-custom:focus{
      box-shadow: 0 0 0 3px rgba(114, 61, 190, .25);
  }


/* Login SON */


/* navigation baslangic */ 

.navbar {
    position: relative;
    z-index: 1;
    color: var(--title-color);
    font: normal 500 16px/0px var(--roboto);
    text-transform: uppercase;   
}

.header_area .main-menu .navbar-nav a {
    margin: 40px 40px 0 40px;
}

.header_area .main-menu .navbar-nav .active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.header_area .main-menu .navbar-nav .nav-link:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .logout:hover {
    background: rgb(141, 37, 37);
}



/* navigation */ 

/* Banner Baslangic */ 

.site-main .site-banner {
    background: url(/img/banner/banner-pattern.jpg) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title p {
    font: normal 500 32px/12px var(--roboto);
    margin: 30px 0;
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}



/* Banner SON */ 

/* Hakkimda */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* Hakkimda son */ 


/* Brand baslangic */ 

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-12 {
    font: normal bold 84px/40px var(--roboto);
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(../img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

/* Brand Son */ 

/* Services Baslangic */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}



/* Services Son */ 


/* Project Baslangic */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* Project SON */ 


/* Yorumlar */ 

.site-main .about-area .about-title p{
    padding: 1rem 7rem;
}

.site-main .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
    padding: 2rem;
}

.site-main .about-area .client .about-client{
    padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
    font: normal 500 21px/20px var(--roboto);
}

.site-main .about-area .client .about-client p{
    font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}



/* Yorumlar end */ 

/* CV baslangic */ 

.site-main .cv-area {
    padding: 4rem 0;
}

.site-main .cv-area .container {
    padding: 7rem 0;
    background: var(--gradient-color);
}

.site-main .cv-area thead th{
    border-top: hidden;
}

.site-main .cv-area .table h3,
.site-main .cv-area .table h4,
.site-main .cv-area .table h5,
.site-main .cv-area .table p {
   font-family: var(--roboto);
   color: whitesmoke;
}

.site-main .cv-area .table h3,
.site-main .cv-area .table h4 {
    text-align: center;
}

.site-main .cv-area .table h5,
.site-main .cv-area .table p {
    text-align: justify;
    padding-left: 7rem;
}

.site-main .cv-area .table h4 {
    font: normal 500 32px/20px;
}

.site-main .cv-area .table p {
    font-size: 14px;
    color: #b4b4b4;
}

/* CV SON */ 

/* Footer Baslangic */ 

footer.footer-area{
    padding: 5rem 0;
    background-image: url(../img/footer-bg.png);
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* Footer SON */ 

/* ileteisim page baslangic */

/* iletisim page son */